header {
	color: #FFFFFF;
	margin: 0px;
	min-width: 100%;
	margin-top: 1.5em;
	margin-bottom: 2em;
}


#nav-container {
	font-size: 1.8vw;
	display: flex;
	gap: 2vw;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding-left: 1vw;
	margin: 0px;
	font-family: 'League Spartan', sans-serif;
}

h1 {
	font-family: 'League Spartan', sans-serif;
	font-size: 4vw;
	min-width: 100%;
}

li>a {
	text-decoration: none;
	color: #ffffff;
	padding: 1vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-decoration: none;
}


li {
	padding: 1vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-decoration: none;
	color: #ffffff
}

li>a:hover {
	color: #b24add;
}

#header {
	background-color: #0f0f0f;
	background-image: url("images/header_img.png"); /* immagine nel titolo pagina, può servire? */
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding-right: 0px;
	min-width: 100%;
}

#title_head {
	font-family: 'League Spartan', sans-serif;
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 3vh;
	padding-bottom: 2.5vh;
	text-align: center;
}



#text {
	font-family: 'League Spartan', sans-serif;
	font-size: 1.5vw;
	padding-bottom: 2em;
	margin: 0%;
    line-height: 1;
}


#text h1 {
	color: #daa8ef;
}



html {
	font-family: Montserrat;
}

body {
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	min-width: 100%;
	flex-direction: column;
	background-color: #0f0f0f;
	margin: 0px;
	color: #dcdcdc;
	overflow-x: hidden;
}


.effetto_link{
	font-family: 'League Spartan', sans-serif;;
    color: #b24add;
    text-decoration: underline;
}

.effetto_link:hover {
    color: #daa8ef;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #daa8ef;
    color: #1C1C1C;
    margin: 0px;
    margin-top: 1%;
    min-width: 100%;
    padding: 10px;
	font-family: 'League Spartan', sans-serif;
}
#footer-text {
	white-space: nowrap;
  }
  footer p {
	font-family: 'League Spartan', sans-serif;
  }

#contact-info {
	font-family: 'League Spartan', sans-serif;
	font-size: 1.4vw; /* Cambia la dimensione del testo a 1.4vw */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -10px;

}

#contact-info a {
    margin: 10px;
    color: #b24add;
    text-decoration: none;
    font-size: 1.4vw; /* Dimensione del testo relativa */
}

#contact-info a:hover {
    color: #ffffff;
}

.fa-envelope,
.fa-instagram {
    margin-right: 5px;
}


footer p {
	font-family: 'League Spartan', sans-serif;
  }


#body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1vw;
}

#text {
	margin: 0px;
	font-size: 1.5vw;
	padding-bottom: 2em;
}

#cover {
   width: 40vw;
}


.active {
		color: #b24add;
		border-radius: 10px 10px 0px 0px;
}


h1, h2, p {
	text-align: center; /* Allinea il testo al centro */
  }
  
  #explain {
	text-align: center; /* Allinea il testo del contenuto al centro */
  }
  
  #title_head {
	text-align: center; /* Allinea il testo del titolo al centro */
  }
  