header {
	color: #FFFFFF;
	margin: 0px;
	min-width: 100%;
	margin-top: 1.5em;
}


#nav-container {
	font-size: 1.8vw;
	display: flex;
	gap: 2vw;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding-left: 1vw;
	margin: 0px;
	font-family: 'League Spartan', sans-serif;
}

h1 {
	font-family: 'League Spartan', sans-serif;
	font-size: 4vw;
	min-width: 100%;
}

li>a {
	text-decoration: none;
	color: #ffffff;
	padding: 1vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-decoration: none;
}

li {
	padding: 1vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-decoration: none;
	color: #B4B8AB
}

li>a:hover {
	color: #b24add;
}

#header {
	background-color: #0f0f0f;
	background-image: url("images/header_img.png"); /* immagine nel titolo pagina, può servire? */
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding-right: 0px;
	min-width: 100%;
}

#title_head {
	font-family: 'League Spartan', sans-serif;
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 3vh;
	padding-bottom: 2.5vh;
	text-align: center;

}

#text {
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
}



html {
	font-family: Montserrat;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center; /* Centra il contenuto verticalmente */
	background-color: #0f0f0f;
	margin: 0;
	color: #b4b8ab;
	overflow-x: hidden; /* Nasconde lo scrolling laterale */
  }
  
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #daa8ef;
    color: #0f0f0f;
    margin: 0px;
    margin-top: auto;
    min-width: 100%;
    padding: 20px;
    text-align: center;
}

#contact-info {
    font-family: 'League Spartan', sans-serif;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

#contact-info a {
    margin: 10px;
    color: #b24add;
    text-decoration: none;
    font-size: 1.4vw; /* Dimensione del testo relativa */
}

#contact-info a:hover {
    color: #ffffff;
}

.fa-envelope,
.fa-instagram {
    margin-right: 5px;
}


footer p {
	font-family: 'League Spartan', sans-serif;
  }


#infos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5%;
	font-family: 'League Spartan', sans-serif;
	text-align: center;
}

#infos p {
	font-size: 4vw;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 0.1em; /* Regola il valore del margine inferiore come desiderato */
	margin-top: 0.1em
  }
  


.img_banner {
	width: 45vw;
	border-radius: 0px 20px 20px 0px;
}

#intro_img {
	max-width: 100%;
}


.desc_banner {
	border-style: solid;
	border-color: #f6b6c7;
	border-width: 5%;
	border-radius: 20px 0px 0px 20px;
}

p {
	font-size: 1.5vw;
}

#start>a {
	color: #1c1c1c;
}

#about>a {
	color: #e7e7e7;
}

#start {
	text-align: center;
	align-items: center;
	border-radius: 20px 20px 20px 20px;
	background-color: #b24add;
  	color: #ffffff;
	font-family: 'League Spartan', sans-serif;
	font-size: 3vw;
	width: fit-content;
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 0.5em
	
}


a>#start:hover {
	background-color: #ffffff;
	color: #b24add ;
	transition: color 0.5s, color 0.5s;
	
}

a>#start {
	background-color: #b24add;
	color: #ffffff;
	transition: background-color 0.5s, color 0.5s;
}

#separator {
	width: 100%;
	border: none;
	height: 1px;
	background-color: transparent;
	margin-top: 10em;
	margin-bottom: 2em;
  }
  

a {
	text-decoration: none;
}


#linkToPages {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#linkToPages a {
	text-align: center;
	align-items: center;
	border-radius: 20px;
	background-color: #b24add;
	color: #FFFFFF;
	font-weight: bold;
	font-family: 'League Spartan', sans-serif;
	font-size: 3vw;
	padding: 3vh 3vh;
	width: fit-content;
	overflow: hidden;
	display: flex;
	justify-content: center;
	/* transition: background-color 0.5s, color 0.5s; */
	box-sizing: border-box;
	margin-top: 0;
}


#linkToPages a:hover {
	background-color: #ffffff;
	color: #b24add;
} 


#about {
	text-align: center;
	border-radius: 20px 20px 20px 20px;
	border-style: solid;
	border-color: #b24add;
	background-color: #0f0f0f;
	font-size: 2vw;
	margin: 0px 40% 5% 40%;
	padding: 1%;
}

#about :hover {
	background-color: #b24add;
}


.active {
	color: #b24add;
	border-radius: 10px 10px 0px 0px;
}

h2 {
	margin-left: 1vw;
	font-family: 'League Spartan', sans-serif;
}

#graph {
	display: flex;
	width: 40%;
}

.container-wireframe {
	display: flex;
	width: -50%;
}
.left-column {
	display: flex;
}
.right-column {
	display: flex;	
}


#explain {
	margin-left: 2vw;
	margin-right: 2vw;
	font-size: 110%;
	font-family: 'League Spartan', sans-serif;
	color: #b4b8ab;
}